* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

body {
  font-family: 'Tinos', serif;
  margin:0rem;
}

h1 {
  margin: 1rem;
  font-family: 'Tinos', serif;
  justify-content: center;
  align-self: center;
}

h2 {
    font-family: 'Tinos', serif;
    justify-content: center;
    align-self: center;
}

h3 {
  font-weight: lighter;
}

.tituloApp {
  background-color: blue;
  margin: 0rem;
  padding: 1rem;
  color: whitesmoke;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap:2rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px gray;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 200ms ease-in;
  text-align: center;
}

.cardBack {
  overflow: hidden;
  box-shadow: 0 2px 20px gray;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 200ms ease-in;
}

.card:hover {
  transform:scale(1.02);
}

.cardImg{
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.cardTitulo{
  padding: 1rem;
}

.cardDescripcion{
  padding: 0 1rem;
}

.cardBtn{
  padding: 1rem;
  font-family: 'Tinos', serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;
  border: 2px solid blue;
  background: transparent;
  color: blue;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.cardBtn:hover{
  background: blue;
  color:white;
}

